<%- include('./header'); -%>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="./css/style.css" />
        <title>Trang chủ</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">

        <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/noconflict.js"></script>

        <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.min.js"></script>
        <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.carousel.js"></script>

        <!-- form load -->
        <!-- form xem chi tiet -->
        <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/styles.css" media="all" />
        <!-- form Play -->
        <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/g-erp-cgv.css" media="all" />
        <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/custom-cgv.css" media="all" />



    </head>

    <body>
        <div class="container">




            <div class="category-products cgv-movies">

                <div class="tieude">
                    <h1 style="color: blue;">Phim sắp chiếu</h1>
                </div>

                <ul class="products-grid products-grid--max-5-col" style="padding-left: 1%">

                    <% for (let i = 0; i< phim.length; i++){%>
                        <li class="film-lists item last">
                            <img class="product-img" src="<%=im[i] %>" alt="<%=phim[i].name %>">

                            <div class="product-images">
                                <h3><a href="/chitietphim/<%=phim[i].id%>" title="<%=phim[i].name %>"><b><%=phim[i].name %></b></a>
                                </h3>

                                <button type="button" title="Mua vé" class="button btn-booking" onclick="window.location.href='/muave/<%=phim[i].id%>'" onclick="Quickbooking('19006800');">
                <span><span>Mua vé</span></span>
              </button>
                            </div>

                        </li>
                        <% }%>
                </ul>



                <div class="category-products cgv-movies">

                    <div>

                        <h1 style="color: blue;">Phim đạt doanh thu lớn</h1>
                    </div>


                    <ul class="products-grid products-grid--max-5-col" style="padding-left: 1%">

                        <% for (let i = 0; i< locPhim.length; i++){%>
                            <li class="film-lists item last">
                                <img class="product-img" src="<%=imd[i]%>" alt="<%=locPhim[i].name %>">

                                <div class="product-images">
                                    <h3><a href="/chitietphim/<%=locPhim[i].id%>" title="<%=locPhim[i].name %>"><b><%=locPhim[i].name %></b></a>
                                    </h3>

                                    <button type="button" title="Mua vé" class="button btn-booking" onclick="window.location.href='/muave/<%=locPhim[i].id%>'" onclick="Quickbooking('19006800');">
              <span><span>Mua vé</span></span>
            </button>
                                </div>

                            </li>
                            <% }%>
                    </ul>
                </div>

            </div>

        </div>

    </body>

    <%- include('./footer'); -%>